<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/weather-line-set/24/icn-weather-scattered-showers-512.png">
    <script src="js/app.js"></script>
    <title>About</title>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="img/img2.jpg" alt="">
    </div>

    {{>footer}}
</body>

</html>