<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/weather-line-set/24/icn-weather-scattered-showers-512.png">
    <script src="js/app.js"></script>
    <title>Help page</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Here you can find {{what}} for {{subject}}</p>
    </div>

    {{>footer}}
</body>

</html>